.search{
    margin: 5% 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35%;
}
.search .search-input {
    width: 70%;
    height: 20%;
    border: 1px #ff3c3c solid;
    outline-color: #ff3c3c;
    padding: 0 10px;
}
.search .search-button {
    margin-left: 10px;
    width: 30%;
    height: 20%;
    border: 1px #ff3c3c solid;
    outline-color: #ff3c3c;
    background-color: #ff3c3c;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
@media (max-width: 800px) {
    .search{
        flex-direction: row;
        width: 100%;
    }
    .search .search-input {
        margin-left: 15px;
        height: 50px;
    }
    .search .search-button {
        margin-right: 15px;
        height: 50px;
    }
}
.search .search-button:hover {
    background-color: transparent;
    color: #ff3c3c;
}