.sellectbox {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin-left: 3%;
  margin-top: 2%;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 10px 10px 5px rgb(190, 203, 219);
}

.sellectbox:hover {
  box-shadow: 5px 5px 5px rgb(190, 203, 219);
  border: 2px solid darkgray;
  background-color: rgb(236, 236, 236);
}