.slider {
    height: fit-content;
}
.slider-img {
    border-radius: 20px;
}
.slider .box {
    border: 30px transparent solid;
    border-radius: 40px;
}
.description {
    display: flex;
    flex-direction: row;
}
.description .text-description {
    font-size: 1.5em;
    font-weight: 600;
    width: fit-content;
    color: #000000;
    margin: 5% 5% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.description .text-description h1 {
    font-size: 1.5em;
    font-weight: 600;
}
.slick-slider {
    margin-left: auto;
    margin-right: 6.5%;
    display: flex;
    width: 50%;
    height: 100%;
}
@media (max-width: 800px) {
    .description {
      flex-direction: column;
    }
    .slick-slider {
        margin-right: 0px;
        width: 100%;
        height: 100%;
    }
  }